  <div class="row justify-content-center mt-3">
    <div class="col-4">
      <h3>Bookmark:</h3>
      <div class="container">
          <%= simple_form_for [@list, @bookmark] do |f| %>
          <%= f.association :movie, colletion: Movie.all %>
          <%= f.input :comment %>
          <%= f.submit %>
          <% end %>
      </div>
    </div>
</div>
